<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Group Portfolio{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="robot-container">
      <iframe src="https://my.spline.design/genkubgreetingrobot-8OKSiBJJOwIc1QP897p3vkUs/" 
              frameborder="0" allowfullscreen allow="autoplay; fullscreen"></iframe>
    </div>
    <header>
        <div>
            <a href="/" class="nav-item">Home</a>
            <a href="/profile" class="nav-item">About Us</a>
            <a href="/projects" class="nav-item">Projects</a>
        </div>
    </header>
        
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
