{% extends "base.html" %}

{% block title %}
Queue Game Card
{% endblock title %}

{% block content %}

<div>
    <h1>Player Info:</h1>
    <p><strong>Card:</strong></p>
    <p><strong>Balance:</strong></p>
</div>
<div>
    <h1>Banker Info:</h1>
    <p><strong>Card:</strong></p>
    <p><strong>Remaining Cards:</strong></p>
</div>
<div>
    <h1>Game controls:</h1>
    <form action="">
        <p>Deposit</p>
        <input type="number">
        <button type="submit">Cash in</button>
    </form>
    <form action="">
        <p>Withdrawal</p>
        <input type="number">
        <button type="submit">Cash out</button>
    </form>
    <form action="">
        <p>Place bet</p>
        <input type="number" placeholder="Place your bet (min. $10)">
        <button type="submit">Bet</button>
    </form>
</div>

{% endblock content%}